body{
    background: #000;

}
.box{
    height: 100vh;
    perspective: 300px;
    transform-style:preserve-3d ;
}
div{
    width: 100vh;
    max-width: 280px;
    position: absolute;
    top:50%;
    left: 70%;
    height: 400px;
    border: 3px solid white;
    box-shadow: 0 0 73px red;
    margin-top: -225px;
    margin-left: -325px;
    transform-style:preserve-3d ;
    border-radius: 100%;
    animation: rotate 10s linear infinite alternate;
    animation-delay: calc(var(--i) * 300ms );

}
@keyframes rotate{
    0% {
        transform:rotateX(0deg) rotateY(0deg) ;
      
    }
    25% {
        transform: rotateX(180deg) rotateY(100deg);
    }
    50%{
                transform: rotateX(360deg) rotateY(360deg);
    }
    75% {
               transform: rotateX(460deg) rotateY(550deg);
    }
    100%{
                transform: rotateX(520deg) rotateY(780deg);
    }
}