body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #f9f9f9, #f0f0f0);
  position: relative;
}

.circle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  animation: float 15s linear infinite;
}

.c1 {
  width: 80px;
  height: 80px;
  background: #ff385c;
  left: 10%;
  top: 60%;
  animation-duration: 12s;
}

.c2 {
  width: 100px;
  height: 100px;
  background: #66ccff;
 left: 30%;
  top: 80%;
  animation-duration: 18s;
}

.c3 {
  width: 60px;
  height: 60px;
  background: #99ff99;
  left: 50%;
  top: 70%;
  animation-duration: 14s;
}

.c4 {
  width: 120px;
  height: 120px;
  background: #cc99ff;
  left: 70%;
  top: 90%;
  animation-duration: 20s;
}

.c5 {
  width: 90px;
  height: 90px;
  background: #ffcc66;
  left: 90%;
  top: 85%;
  animation-duration: 16s;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-110vh) rotate(360deg);
  }
}